// ===========================================================================
// ==== FORM STYLES
// ===========================================================================
.form__input {
  background-color: #fff;
  border: 0;
  color: #222;
  padding: 0.75rem;
  width: 100%;

  &::placeholder {
    color: #444;
    font-size: 0.6875rem;
    text-transform: uppercase;
  }
}

textarea {
  height: 10rem;
}
